<div class="table-responsive">    
    <table class="table table-hover">
    <thead class="thead-dark" >
        <tr>
        <th scope="col">Nome</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <% @collections.each do |collection| %>  
            <tr>
                <th scope="row"><%= collection.name %></th>
                <th scope="row"><%= link_to 'Ver Tarefas', collection_path(collection) %></th>
            </tr>
        <% end %> 
    </tbody>
    </table>
</div>


